
* {
    margin: 0;
    box-sizing: border-box;
    /* font-family: inter; */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin-top: 0;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.7rem;
}

label {
    font-size: 1.5rem;
}

section {
  margin: 0 9%;
  max-width: 1270px;
}
input[type="email"]{ 
    line-height: 2rem;
margin-left: .5rem; }

/* NAVIGATION BAR SECTION */

.nav {
    margin-top: 0;
    padding: 1rem 0;
}

.nav__div {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
    
}

.links {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

.link {
    margin: 0 1rem;
}

.sign-up {
    background-color: #ef9a53;
    color: white;
    padding: .8rem 1rem;
    border-radius: 1.8rem;
}



/* HEADER */

.header {
    margin-top: 5rem;
    display: flex;
}

.container__header {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.header--title {
    margin-top: 1rem;
    font-size: 3rem;
    color: #13183F;
    text-align: left;
    -webkit-line-clamp: 3;
}

.header--tag {
    font-size: 1.2rem;
    opacity: .65;
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.header--form {
vertical-align: bottom;
}

.container--photo {
    width: 50%;
    display: flex;
    margin-left: 1.5rem;
}

.landing--photo {
    width: 100%;
    height: auto;
    overflow: auto;
    border-radius: 1rem;
}

.get__started {
    color: white;
    background-color:#ef9a53;
    border-radius: 1.8rem;
    border-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1.8rem;
    margin-left: 1rem;
    padding: 1rem 1rem;
    
}

.get__started:hover {
    cursor: pointer;
}


/* MAIN */


.main {
    margin-top: 5rem;
    background-color: #EFF5F5;
}
.two__divs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 2rem auto;
} 

.div__text {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.div__img {
    width: 55%;
    max-width: 900px;
    text-align: center;
}

.roadImage {
    max-width: 100%;
    opacity: .8;
}

.main--tagOne {
    padding: 3rem;
    text-align: center;
}

.main--tagTwo {
    padding: 3rem;
    text-align: center;
}

.main--tagThree {
    padding: 3rem;
    text-align: center;
}

.main__link {
    text-decoration: underline;
    cursor: pointer;
    color: #3e6d9c;
}

/* FEATURES */

.features {
    background-color: #EFF5F5;
}

.features__sub-title {
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    padding: 1.5rem 0 4rem 0;
}

.twoDivs__features {
    display: flex;
    justify-content: space-between;
}

.features__text {
    width: 60%;
}

.feature__specific {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.fa-compass {
    font-size: 3rem;
    margin-right: 1.2rem;
}

.firstWord--feature {
    margin-right: .3rem;
    font-size: 2.1rem;
    font-weight: bolder;
}

.features__callToAction {
    display: flex;
    width: 40%;
    text-align: center;
    justify-content: center;
    align-items: center;
}


/* FOOTER */

.footer__logo {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__link {
    margin: 1rem 2rem;
    font-size: 2rem;
}
